{% extends 'base-fullwidth.html' %}

{% load staticfiles %}

{% block title_tag %}Your Dashboard{% endblock %}
{% block h1 %}Your Dashboard{% endblock %}

{% block content %}
    <h2>Personal Info</h2>
    <ul class="personal">
        <li>{{ profile.name }}</li>
        <li>{{ profile.user.email }}</li>
        <li>{{ profile.confirmed_contact.phone_number }}</li>
    </ul>
    <h2>Partners for {{ profile.name }}:</h2>
    <ul class="partners">
        {% for p in partners %}
            <li>
                {{ p.name }} &mdash;
                {{ p.contact.phone_number }} &mdash;
                <a class="remove" href="{% url 'dashboard-partner' pk=p.pk %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <form class="another">
        <input type="text" name="name" placeholder="Name" />
        <input type="tel" name="phone_number" placeholder="Phone Number" />
        <button>Add</button>
    </form>
{% endblock %}

{% block extra_js %}
    <script>
        var addAnotherUrl = "{% url 'dashboard-partner' %}";
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
